.cover__link {
  display: block;
  position: relative;
  padding-bottom: calc(100% / 1.6);
  color: #ffffff;
  text-decoration: none;
  background: #2a2c2f url("../../../images/route66__bg.jpg") no-repeat center;
  background-size: cover;
}

.cover__link:hover {
  background-blend-mode: overlay;
}
