@import url('fonts/inter.css');

body {
  background-color: #2A2C2F;
}

figure {
  margin: 0;
}

.page {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0 auto;
  border-right: 1px solid white;
  border-left: 1px solid white;

}

.header {
  width: calc(100% - 148px*2);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-top: 34px;
      margin-bottom: 58px;
}

.logo {
  width: 190px;
  height: 44px;
  background-image: url('images/logo.png');
}

.header__lang-links {
  list-style: none;
  display: flex;
}

.header__lang-link {
  text-decoration: none;
  margin-right: 18px;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__lang-link:last-child {
  margin-left: 0;
}

.header__lang-link_active {
  text-decoration: underline;
}

.content {
  /* width: calc(100% - 148px*2); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 148px; */
}

.lead {
  width: calc(100% - 148px*2);
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center; */
  margin-bottom: 114px;
}
.lead__title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;

  /* or 104% */
}

.lead__subtitle {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 64px;
  font-size: 30px;
line-height: 36px;
text-align: center;

/* or 120% */
}

.lead__image {
  width: 100%;
  margin-bottom: 8px;
}

.lead__caption {
  font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */
letter-spacing: 0.15em;
text-transform: uppercase;
}

.intro {
    width: 690px;
    margin-left: 148px;
    align-self: start;
    margin-bottom: 92px;
}
.intro__title {
  font-weight: 900;
font-size: 54px;
line-height: 58px;
margin-bottom: 40px;
}

.intro__subtitle {
  font-size: 24px;
line-height: 34px;
margin-bottom: 32px;
}

.intro__text {
  font-size: 16px;
line-height: 26px;
margin-bottom: 32px;

}

.intro__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro__list-item {
  font-weight: bold;
font-size: 12px;
line-height: 18px;
}

.intro__list-item_light-text {
  font-weight: normal;
}

.photo-grid {
  width: calc(100% - 48px*2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  margin-bottom: 92px;
}

.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places
{
  width: calc(100% - 148px*2);
  margin: 0;
  padding: 0;
}

.place {
  margin-bottom: 80px;
  list-style: none;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: auto 460px;
  grid-gap: 48px 40px;
  grid-template-areas: "title url"
                       "image description"
}

.place__title {
margin: 0;
grid-area: title;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* identical to box height, or 106% */
}

.place__website {
    grid-area: url;
    display: flex;
    flex-direction: column;
}
.place__url-heading {
  font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */
letter-spacing: 0.2em;
color: #AAAAAA;
margin-bottom: 12px;
text-transform: uppercase;
}

.place__link {
  color: #FFF;
  font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */

text-decoration-line: underline;
}

.place__image {
  grid-area: image;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.place__description {
  grid-area: description;
}

.place__paragraph {
  font-size: 18px;
line-height: 30px;
/* or 167% */
margin: 0 0 24px 0;
}








/* **** */

.gallery {
  min-height: calc(100vh - 72px);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 20px;
}


.gallery__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
